@font-face {
  font-family: 'AngryNerds';
  src: url('https://cdn.rawgit.com/putty182/4bcee364e98f96f90400421c0d41ca67/raw/c50f7081cae7eeeab009ed0400b83b70c1111fd4/AngryNerds.ttf');
}

#main {
  height: 100vh;
}

#main h1 { font-size: 20vw; }
@media (min-width: 640px) { #main h1 { font-size: 15vh; } }
@media (max-height: 400px) { #main h1 { font-size: 4em; } }

#main h1, h2, h3 { 
  font-family: 'AngryNerds', serif;
  line-height: 0.8em;
}

#main a {
  color: #333;
  opacity: 1;
  transition: opacity 0.2s;
}

#main a:hover {
  color: #000;
  opacity: 0.5;
  text-decoration: none;
}

#band-logo {
  margin-top: 10vh;
}

#social-links a img {
  height: 20vw;
  width: 20vw;
}

#facebook:before,
#unearthed:before,
#soundcloud:before,
#bandcamp:before {
  content: " ";
  display: block;
  width: auto;
  height: 20vh;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;
}

#facebook:before {
  background-image: url(facebook.svg);
}
#unearthed:before {
  background-image: url(unearthedlogo.jpg);
}
#soundcloud:before {
  background-image: url(soundcloud.svg);
}
#bandcamp:before {
  background-image: url(bandcamp.jpg);
}
